.goals {
    margin-top: 5rem;
    width: 100%;
    height: 100%;

    .goals-table {

        color:white;

        th {
            text-align: center;
            vertical-align: middle;
        }

        .td-amount {
            text-align: center;
            vertical-align: middle;
        }

        .td-date {
            text-align: center;
            vertical-align: middle;
        }

        a {
            text-decoration: none;
            color: white;
        }

        a:hover {
            text-decoration: underline;
        }

    }

}

