.logued-user {
    background: linear-gradient(to right, #343a40 0%, #204065 60%, #2a5788 100%);
}

.logued-user-sections {
    //background: linear-gradient(to right, #343a40 0%, #204065 60%, #2a5788 100%);
    //background: linear-gradient(to right, #343a40 0%, #29088A 60%, #7401DF 100%);
    color: white;
    height: fit-content;
}