.summary {
    margin-top: 5rem;
    width: 100%;

    .summary-table {
        color:white;

        th {
            text-align: center;
            vertical-align: middle;
        }

        .td-amount {
            text-align: center;
            vertical-align: middle;
        }

        .td-percentage {
            text-align: right;
            vertical-align: middle;
        }
    }
}
